@tailwind base;
@tailwind components;
@tailwind utilities;

.border-primary {
  box-shadow: 0 0 8px 8px #eaf88d;
}
.border-secondary {
  box-shadow: 0 0 8px 12px #ed6e58;
}
.border-tertiary {
  box-shadow: 0 0 8px 12px #e8b4c8;
}
.border-quaternary {
  box-shadow: 0 0 8px 12px #4ca3cf;
}
.border-acent {
  box-shadow: 0 0 8px 12px #47f86e;
}

.translate {
  transform: translateX(110%);
}
.text-shadow-secondary {
  text-shadow: 0 0 12px #ed6e58;
}
